<div class="modal-header">
    <h4 class="modal-title">Modifica prodotto</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form>
        <label for="pname">Nome prodotto:</label><br />
        <input id="nameInput" type="text" name="pname" value={{product.name}} /><br />
        <label for="pdescription">Descrizione:</label><br />
        <input id="descInput" type="text" name="pdescription" value={{product.description}} /><br />
        <label for="pprice">Prezzo:</label><br />
        <input id="priceInput" type="number" name="pprice" value={{product.price}} /><br />
        <label for="pqty">Quantità:</label><br />
        <input id="qtyInput" type="number" name="pqty" value={{product.quantity}} /><br />
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-primary" (click)="updateProductWithNewValues(product)">Modifica</button>
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close()">Chiudi</button>
</div>