<div class="product-details-container">
    <h2 class="empty-text" *ngIf="!product">Seleziona un prodotto per vederne i dettagli</h2>
    <div class="product-details" *ngIf="product">
        <h2 class="product-details-title">{{ product.name }}</h2>
        <img class="product-details-image" src="{{ product.image }}" alt="product-image" />
        <h5>{{ product.description }}</h5>
        <app-warehouse-product-info 
            [sku]="product.sku" 
            [price]="product.price" 
            [qty]="product.quantity"></app-warehouse-product-info>
        <div class="product-details-actions">
            <app-product-modal [product]="product" [modalType]="1"></app-product-modal>
            <app-product-modal [product]="product" [modalType]="2"></app-product-modal>
        </div>
    </div>
</div>