.product-details-container {
    width: 100%;
    height: 100%;
    text-align: center;
}

.empty-text {
    padding-top: 42vh;
}

.product-details {
    height: inherit;
}

.product-details-title {
    margin-top: 50px;
}

.product-details-image {
    height: 25vh;
    margin: 40px 0;
}

.product-details-actions {
    margin-top: 80px;
}

.product-details-actions > app-product-modal {
    margin: 0 10px;
}