<div class="modal-header">
    <h4 class="modal-title">Aggiungi prodotto</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form>
        <label for="pname">Nome prodotto:</label><br />
        <input id="nameInput" type="text" name="pname" /><br />
        <label for="pdescription">Descrizione:</label><br />
        <input id="descInput" type="text" name="pdescription" /><br />
        <label for="pimage">Immagine (base64):</label><br />
        <input id="imageInput" type="text" name="pimage" /><br />
        <label for="psku">SKU:</label><br />
        <input id="skuInput" type="text" name="psku" /><br />
        <label for="pprice">Prezzo:</label><br />
        <input id="priceInput" type="number" name="pprice" /><br />
        <label for="pqty">Quantità:</label><br />
        <input id="qtyInput" type="number" name="pqty" /><br />
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-primary" (click)="addProduct()">Aggiungi</button>
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close()">Chiudi</button>
</div>