.shadow {
    box-shadow: 0 0.25rem 0.75rem rgb(0 0 0 / 5%);
}

.products-list {
    width: 260px;
    height: 100%;
    list-style-type: none;
    padding: 0;
    margin: 0;
    border-right: 1px solid #dee2e6;
}

.cta-container {
    position: fixed;
    bottom: 0;
    width: 260px;
    height: 100px;
    text-align: center;
}

.product-list-cta {
    bottom: 25px;
}

.product-entry {
    text-align: center;
    border-bottom: 1px solid #dee2e6;
    height: 50px;
    padding-top: 12px;
}

.product-entry:hover {
    cursor: pointer;
    background-color: #f2f2f2;
}

@media only screen and (max-width: 750px) {
    .products-list {
        width: 100%;
    }
    .cta-container {
        width: 100%;
    }
}