<h2 *ngIf="loading == true">Loading Products...</h2>
<ul class="products-list shadow">
    <li 
        class="product-entry" 
        *ngFor="let product of products"
        (click)="productClicked(product)">
        {{ product.name }}
    </li>
</ul>
<div class="cta-container">
    <app-product-modal [modalType]="3"></app-product-modal>
</div>