<div class="warehouse-container">
    <app-warehouse-list (productSelected)="manageSelectedProduct($event)"></app-warehouse-list>
    <app-warehouse-product-details [(product)]="selectedProduct"></app-warehouse-product-details>
</div>