.warehouse-container {
    display: flex;
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 750px) {
    .warehouse-container {
        display: block;
    }
}

app-warehouse-product-details {
    width: 100%;
}