<div class="modal-header">
    <h4 class="modal-title">Elimina prodotto</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <p>Sei sicuro di volere eliminare il prodotto <b><span>{{ product.name }}</span></b>?</p>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-danger" (click)="deleteProduct()">Elimina</button>
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close()">Chiudi</button>
</div>